{{# hero-banner }}
<section class="hero-banner {{ styleModifier }}">
  <div class="hero-banner__image">
    {{> atoms-hero }}
  </div>

  <div class="hero-banner__body">
    <div class="hero-banner__title">{{ title }}</div>

    <div class="hero-banner__summary">
      <p>{{ excerpt.short }}</p>
    </div>

    <div class="hero-banner__button-group">
      {{# btn-video }}
        <a href="#" class="hero-banner__button hero-banner__video-play">Play Video</a>
      {{/ btn-video }}
      <a href="{{ url }}" class="hero-banner__button">{{ btn-text }}</a>
    </div>
  </div>

  {{# btn-video }}
    <div class="hero-banner__video-popup u-hidden">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/PAwB_t_iM7U" frameborder="0" allowfullscreen></iframe>
    </div>
  {{/ btn-video }}
</section>
{{/ hero-banner }}
