<!DOCTYPE html>
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8 {{ htmlClass }}"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9 {{ htmlClass }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="{{ htmlClass }}"> <!--<![endif]-->
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <!-- proxima nova -->
  <script src="//use.typekit.net/bkh4ofy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!-- end proxima nova -->

  <link rel="stylesheet" href="../../css/vendor.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="../../css/no-query.css?{{ cacheBuster }}" media="all" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {% pattern-lab-head %}
  <!-- End Pattern Lab -->
</head>
<body class="{{ bodyClass }}">
