<div class="page l-header--fixed">
  {{> organisms-header }}
  <div class="l-main" role="main">

    {{> organisms-page-title }}

    <div class="l-container l-davis-flipped">
      {{> molecules-breadcrumbs }}

      <div class="l-content">
        <div class="panel o-box--large">
          <!-- Featured Image -->
          {{> atoms-landscape-16x9 }}

          {{> molecules-social-share }}
          <div class="meta-info meta-info--pipe-seperated">
            <span class="meta-info__data">{{ month.long }} {{ day.short }},  {{ year.long }}</span>
          </div>
          <div class="byline u-space-bottom--large">
            Story {{> molecules-byline }}
          </div>

          <div class="u-clearfix">
            {{> organisms-article-body }}
          </div>

          <h2 class="heading--auxiliary">Tags</h2>
          {{> molecules-tags }}
        </div>
      </div><!--end .l-content-->

      <div class="l-sidebar-second">
        <div class="panel o-box">
          <h2 class="panel__title">Top Stories</h2>
          {{> organisms-article-list }}
        </div>
        <div class="panel o-box">
          <h2 class="panel__title">Categories</h2>
          {{> molecules-category-filter }}
        </div>
      </div><!--end .l-sidebar-second-->

    </div><!--End .l-container-->

  </div><!--End role=main-->
  {{> organisms-footer }}
</div>
