<div class="page l-header--fixed">
  {{> organisms-header }}
    <div class="l-main" role="main">

      {{> organisms-page-title }}

        <div class="l-container l-davis-flipped">
          {{> molecules-breadcrumbs }}

            <div class="l-content">
              <div class="panel o-box--large">
                {{> molecules-featured-article }}
              </div>
              <div class="panel o-box--large">
                <h2 class="panel__title">Latest News</h2>
                {{> organisms-latest-news }}
              </div>
            </div><!--end .l-content-->

            <div class="l-sidebar-second">
              <div class="panel o-box">
                <h2 class="panel__title">Top Stories</h2>
                {{> organisms-article-list }}
              </div>
              <div class="panel o-box">
                <h2 class="panel__title">Categories</h2>
                {{> molecules-category-filter }}
              </div>
              <div class="panel o-box">
                <h2 class="panel__title">Tags</h2>
                {{> molecules-tags }}
              </div>
            </div><!--end .l-sidebar-second-->

        </div><!--End .l-container-->

    </div><!--End role=main-->
  {{> organisms-footer }}
</div>
