<div class="page l-header--fixed">
  {{> organisms-header }}
    <div class="l-main" role="main">

    {{> organisms-page-title }}

    <div class="l-container l-davis-flipped">
      {{> molecules-breadcrumbs }}

        <div class="l-content">
          <div class="panel">
            {{> molecules-search-form }}
          </div>
          <div class="panel o-box--large panel--flush">
            {{> atoms-search-findings }}
          </div>
          <div class="panel o-box--large">
            {{# people-list }}
              {{> molecules-teaser(teaser-person: true, teaser-button: true, teaser-btn-txt: "View Profile") }}
            {{/ people-list }}
          </div>
        </div><!--end .l-content-->

        <div class="l-sidebar-second">
          <div class="panel">
            {{> molecules-sub-nav }}
          </div>
        </div><!--end .l-sidebar-second-->

    </div>
  </div><!--End role=main-->
  {{> organisms-footer }}
</div>
