<section class="u-clearfix">
  <div class="u-align--left">{{> atoms-thumbnail }}</div>
  <p><strong>.u-align--left</strong> Align an element to the left in larger screen sizes.</p>
</section>

<section class="u-clearfix">
  <div class="u-align--center">
    {{> atoms-thumbnail }}
    <p><strong>.u-align--center</strong> Align an element to the center.</p>
  </div>
</section>

<section class="u-clearfix">
  <div class="u-align--right">{{> atoms-thumbnail }}</div>
  <p><strong>.u-align--right</strong> Align an element to the right in larger screen sizes.</p>
</section>
