<section class="u-bg--opaque">
  <p>.u-bg--opaque or .u-bg--transparent</p>

  <div class="u-error">.u-error</div>
  <div class="u-warning">.u-warning</div>
  <div class="u-info">.u-info</div>
</section>
