<section class="u-width--half u-bg--opaque">
  .u-width--half
</section>

<section class="u-width--one-third u-bg--opaque">
  .u-width--one-third
</section>

<section class="u-width--two-third u-bg--opaque">
  .u-width--two-third
</section>
