<h2>{{{ page-copy.section-01.heading }}}</h2>

<p>{{{ page-copy.section-01.text }}}</p>

<h2>{{{ page-copy.section-02.heading }}}</h2>

<div class="u-align--right u-width--half">
  {{> atoms-landscape-4x3 }}
</div>

{{> molecules-feature-block:u-align--right u-width--half }}

<p>{{{ page-copy.section-02.text }}}</p>

{{# figures.first }}
  {{> molecules-figure-with-caption }}
{{/ figures.first }}

<h2>{{{ page-copy.section-03.heading }}}</h2>

<p>{{{ page-copy.section-03.text }}}</p>

<h2>{{{ page-copy.section-04.heading }}}</h2>

<p>{{{ page-copy.section-04.text }}}</p>

<h2>{{{ page-copy.section-05.heading }}}</h2>

{{# pullquotes.first }}
  {{> molecules-pullquote:u-align--left u-width--half }}
{{/ pullquotes.first }}

<p>{{{ page-copy.section-05.text }}}</p>

{{# figures.second }}
  {{> molecules-figure-with-caption }}
{{/ figures.second }}

<h2>{{{ page-copy.section-06.heading }}}</h2>

<p>{{{ page-copy.section-06.text }}}</p>
