<div class="footer-nav">
  <ul class="menu">
    <li><a href="{{ url }}">First Link</a></li>
    <li><a href="{{ url }}">Second Link</a></li>
    <li><a href="{{ url }}">Third Link</a></li>
    <li><a href="{{ url }}">Fourth Link</a></li>
  </ul>
</div>
