<ul class="category-filter">
  {{# category-filter }}
    <li class="category-filter__list-item {{# is-active-link }}category-filter__list-item--active {{/ is-active-link }}{{ brand-color }}">
      <a href="{{ url }}" class="category-filter__link category-brand__circle-icon"><span>{{ text }}</span></a>
    </li>
  {{/ category-filter }}
</ul>
