{{# spotlight }}
<a href="{{ url }}" class="vm-spotlight {{ styleModifier }}">
  <h3 class="vm-spotlight__body">
    <div class="vm-spotlight__callout category-brand__text--knock-out">{{ spotlight.callout }}</div>
    <div class="vm-spotlight__title">{{ headline.short }}</div>
  </h3>
  <div class="vm-spotlight__image">
    <div class="vm-spotlight__indicator category-brand__background"></div>
    {{> atoms-landscape-4x3 }}
  </div>
</a>
{{/ spotlight }}
