<div class="panel">
  <h2 class="panel__title">Panel Title</h2>
  <section>
    <p>Panel content, block, or other element</p>
  </section>
</div>

<div class="panel panel--weighted-underline o-box">
  <h2 class="panel__title">Panel Title Weighted Underline</h2>
  <section>
    <p>Complimented nicely by the <strong>.o-box</strong> object</p>
  </section>
</div>

<div class="panel panel--icon panel--icon-mustang o-box">
  <h2 class="panel__title">Panel Title Icon</h2>
  <section>
    <p>Complimented nicely by the <strong>.o-box</strong> object</p>
  </section>
</div>
