<div class="social-follow">
  <ul>
    <li><a class="social-follow__facebook" title="Facebook" href="{{ url }}">Follow on Facebook</a></li>
    <li><a class="social-follow__twitter" title="Twitter" href="{{ url }}">Follow on Twitter</a></li>
    <li><a class="social-follow__instagram" title="Instagram" href="{{ url }}">Follow on Instagram</a></li>
    <li><a class="social-follow__youtube" title="YouTube" href="{{ url }}">Follow on YouTube</a></li>
    <li><a class="social-follow__googleplus" title="Google Plus" href="{{ url }}">Follow on Google Plus</a></li>
  </ul>
</div>
