<div class="contact-info {{ contact-info-style }}">
    <div class="icon icon--phone">{{ phone-num }}</div>
    <div class="icon icon--cell">{{ phone-num }}</div>
    <div class="icon icon-link icon--envelope">
      <a href="{{ url }}">{{ email-add }}</a>
    </div>
    <div class="icon icon-link icon--web">
      <a href="{{ url }}">{{ web-link }}</a>
    </div>
</div>
