<div class="focus-box {{ styleModifier }} {{ brandModifier}}">
  <div class="focus-box__image">
    {{> atoms-focus }}
  </div>
  <h3 class="focus-box__title category-brand__text--knock-out">{{{ focus-box-title }}}</h3>
  <div class="focus-box__body category-brand__background--lighten">
    {{{ focus-box-text }}}
  </div>
</div>
