<section class="o-box">
  <strong>.o-box</strong> - The Box object simply boxes off content with add a $spacer unit of padding.
</section>

<section class="o-box--small u-bg--opaque u-space-bottom">
  <strong>.o-box--small</strong> - This is a Small Box object with some helper classes to make it more visible.
</section>

<section class="o-box--large u-bg--opaque u-space-bottom">
  <strong>.o-box--large</strong> - This is a Large Box object.
</section>

<section class="o-box o-box--flush u-bg--opaque">
  <strong>.o-box--flush</strong> - Removes padding previously applied by .o-box when an override is needed.
</section>
