<section class="o-box-wrapper l-davis">
  <div class="l-content">
    The Box Wrapper object boxes off multiple regions with padding and opaque background.
  </div>
  <div class="l-sidebar-first">
    <strong>.o-box-wrapper</strong>
  </div>
</section>

<section class="o-box-wrapper--small l-davis">
  <div class="l-content">
    Wrap areas with Small padding.
  </div>
  <div class="l-sidebar-first">
    <strong>.o-box-wrapper--small</strong>
  </div>
</section>

<section class="o-box-wrapper--large l-davis">
  <div class="l-content">
    Wrap areas with Large padding.
  </div>
  <div class="l-sidebar-first">
    <strong>.o-box-wrapper--large</strong>
  </div>
</section>
