<section class="o-flex-region">
  <div class="o-flex-region__item">
    <p>Flex Region 1</p>
    <p>Force all items into a flexibile region.</p>
  </div>
  <div class="o-flex-region__item">
    <p>Flex Region 2</p>
  </div>
  <div class="o-flex-region__item">
    <p>Flex Region 3</p>
  </div>
  <div class="o-flex-region__item">
    <p>Flex Region 4</p>
  </div>
</section>
