<div class="o-media {{ styleModifier }}">
  <div class="o-media__figure">
    <a href="{{ url }}">{{> atoms-thumbnail }}</a>
  </div>
  <div class="o-media__body">
    <h2><a href="{{ url }}">{{ headline.short }}</a></h2>
    <p>{{ excerpt.medium }}</p>
  </div>
</div>
