<section class="o-pack">
  <div class="o-pack__item">
    <p>Pack Item 1</p>
    <p>Force all items into a horizontal space.</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 2</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 3</p>
  </div>
  <div class="o-pack__item">
    <p>Pack Item 4</p>
  </div>
</section>
